.App {
  text-align: center;
}

p {
  padding: 20px;
}
img {
  margin: 10% 5%;
  width: 200px;
  border-radius: 100px;
}

hr {
  background: gray;
  padding: 5px;
  margin: 0;
}

li:hover {
  background: lightgray;
}

.card {
  display: inline-block;
  border-radius: 20px;
}

.App-header {
  background-color: #365ead;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: white;
  margin: 0;
}

@media screen and (min-width: 786px) {
  .grid-container {
    width: 50%;
  }
}
