.App {
  text-align: center;
}

p {
  padding: 20px;
}
img {
  margin: 10% 5%;
  width: 200px;
  border-radius: 100px;
}

hr {
  background: gray;
  padding: 5px;
  margin: 0;
}

li:hover {
  background: lightgray;
}

.grid-container {
  display: inline-block;
  margin-top: 20px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 20px 20px 50px grey;
}

.App-header {
  background-color: #365ead;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: white;
  margin: 0;
}
